* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Mononoki Nerd Font;
    color: white;
    background-color: black;
    width: 100%;
    height: 100%

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
}
header {
    padding: 30px;
    font-size: 5rem;
    
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    width: 50%;
}

.post>h1 {
    text-align: center;
    padding-bottom: 20px;
}

.post>p {
    font-size: 1.3rem;
    text-align: justify;
    margin: 5px;
}

.post>img {
    padding: 20px;
    width: 90%;
}

p.assinatura {
    width: 100%;
    padding: 20px;
    text-align: right;
}