@font-face {
	font-family: "Bestime";
	src: url(./Bestime.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: FreeSans;
    width: 100vw;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    background-image: linear-gradient(to bottom right, #4cdeff, #1a4597);
    width: 100%;
    display: flex;
    align-items: end;
}

.carrot {
	width: 35px;
	padding: 5px;
}

header {
	font-size: 1.3rem;
	padding: 3px;
	font-family: "Bestime";
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    width: 85%;
}

.post>h1 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.5rem;
}

.post>p {
    font-size: 1rem;
    margin: 5px;
    line-height: 1.6rem;
}

.post>img {
    width: 100vw;
}

p.assinatura {
    width: 100%;
    padding: 20px;
    text-align: right;
}
